<% provide(:title, "Add New Team") %>
<h2>Create New Team</h2>
<%= form_for(@team, :html => {:class => "form-horizontal"}) do |f| %>

	<div class="form-group">
		<%= f.label :name, class: "col-sm-2 control-label" %>
		<div class="col-sm-6">
			<%= f.text_field :name, class: "form-control", placeholder: "Team Name" %>
		</div>
	</div>

	<div class="form-group">
		<%= f.label "Pendiri/Ketua (Leader)", class: "col-sm-2 control-label" %>
		<div class="col-sm-2">
			<%= f.text_field :leader, class: "form-control", placeholder: "Ketua / Leader" %>
		</div>
	</div>

	<div class="form-group">
		<%= f.label "Tanggal Berdiri", class: "col-sm-2 control-label" %>
		<div class="col-sm-2">
			<SELECT id="date" class="form-control" name="dd"></SELECT>
		</div>
		<div class="col-sm-3">
			<SELECT id="month" class="form-control" name="mm"></SELECT>
		</div>
		<div class="col-sm-2">
			<SELECT id="year" class="form-control" name="yyyy"></SELECT>
		</div>
	</div>

	<div class="form-group">
		<%= f.label :address, class: "col-sm-2 control-label" %>
		<div class="col-sm-6">
			<%= f.text_area :address, class: "form-control", placeholder: "Address" %>
		</div>
	</div>

	<div class="form-group">
		<%= f.label :city, class: "col-sm-2 control-label" %>
		<div class="col-sm-3">
			<%= f.text_field :city, class: "form-control", placeholder: "City" %>
		</div>
	</div>

	<div class="form-group">
		<%= f.label :website, class: "col-sm-2 control-label" %>
		<div class="col-sm-4">
			<%= f.text_field :website, class: "form-control", placeholder: "Website URL" %>
		</div>
	</div>

	<div class="form-group">
		<%= f.label :email, class: "col-sm-2 control-label" %>
		<div class="col-sm-4">
			<%= f.text_field :email, class: "form-control", placeholder: "Email Address" %>
		</div>
	</div>

	<div class="form-group">
		<%= f.label :phone, class: "col-sm-2 control-label" %>
		<div class="col-sm-4">
			<%= f.text_field :phone, class: "form-control", placeholder: "Phone Number" %>
		</div>
	</div>

	<div class="form-group">
		<%= f.label :image, class: "col-sm-2 control-label" %>
		<div class="col-sm-5">
			<%= f.file_field :image, class: "form-control" %>
		</div>
	</div>

	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-8">
		  <%= f.submit "Submit", class: "btn btn-default" %>
		</div>
	</div>
<% end %>