<table class="table table-hover">
  <thead>
  <tr class="active">
  	<td colspan="5"><h4 class="text-muted text-center"><%= @event.name %> - Standings</h4></td>
  </tr>
  <tr class="info">
  <th>
  		No
  	</th>
  	<th>
  		Name
  	</th>
  	<th>
  		City
  	</th>
  	<th>
  		Position
  	</th>
  	<th>
  		Point
  	</th>
  </tr>

  </thead>
  <tbody>



	<% @fetch.each_with_index do |a, index| %>
	<% if @event.category == "Individual" %>
	<tr>
	<td class="athletes no-<%= a.id %> col-md-1"><%= index + 1 %></td>
	<td class="name col-md-5"><%= a.athlete.name %></td>
	<td class="city col-md-3"><%= a.athlete.city %></td>
	<td class="edit col-md-2"><%= a.position %></td>
	<td class="edit col-md-2"><%= a.point %></td>
	</tr>
	<% else %>
	<tr>
	<td class="teams no-<%= a.id %> col-md-1"><%= index %></td>
	<td class="name col-md-5"><%= a.team.name %></td>
	<td class="city col-md-3"><%= a.team.city %></td>
	<td class="edit col-md-2"><%= a.position %></td>
	<td class="edit col-md-2"><%= a.point %></td>
	</tr>
	<% end %>
	<% end %>

  </tbody>
</table>

<div class="row info">
		<div class="name col-md-12">
		<p class="text-right text-muted pull-left">ICF 2016</p>
		<p class="text-right text-muted pull-right"><i class="fa fa-calendar"></i> <strong><%= @event.startdate.strftime('%d %B %Y') %></strong> - <strong><%= @event.finishdate.strftime('%d %B %Y') %></strong></p>
		</div>
</div>