<% provide(:title, @athlete.name) %>
<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title"><%= @athlete.name %> | Athlete Number: <%= @athlete.number %></h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-3 col-lg-3 " align="center"> <%= image_tag(@athlete.image_url, :class => "img-circle img-responsive") if @athlete.image? %> </div>

      <div class=" col-md-9 col-lg-9 "> 
        <table class="table table-user-information">
          <tbody>
            <tr>
              <td>Team :</td>
              <td><%= @athlete.team.name %></td>
            </tr>
            <tr>
              <td>Date of Birth</td>
              <td><%= @athlete.birthday.strftime('%d %B %Y') %></td>
            </tr>
         
               <tr>
                   <tr>
              <td>Gender</td>
              <td><%= @athlete.gender %></td>
            </tr>
              <tr>
              <td>Home Address</td>
              <td><%= @athlete.address %></td>
            </tr>
            <tr>
              <td>Email</td>
              <td><%= @athlete.email %></td>
            </tr>
              <td>Phone Number</td>
              <td>
              <%= @athlete.phone %>
              </td>
                 
            </tr>
           
          </tbody>
        </table>
        
        <a href="#" class="btn btn-primary">Embed</a>
      </div>
    </div>
  </div>
       <div class="panel-footer">
              <span class="pull-right">
                  <a href="edit.html" data-original-title="Edit this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-edit"></i></a>
                  <a data-original-title="Remove this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-remove"></i></a>
              </span>
          </div>
  
</div>
