<%= form_for(@event, :html => {:class => "form-horizontal"}) do |f| %>

	<div class="form-group">
		<%= f.label :name, class: "col-sm-2 control-label" %>
		<div class="col-sm-6">
			<%= f.text_field :name, class: "form-control", placeholder: "Name" %>
		</div>
	</div>


	<div class="form-group">
		<%= f.label :description, class: "col-sm-2 control-label" %>
		<div class="col-sm-10">
			<%= f.text_area :description, class: "form-control rich", placeholder: "Event Description" %>
		</div>
	</div>
    
    <div class="form-group">
		<%= f.label :category, class: "col-sm-2 control-label" %>
		<div class="col-sm-6">
    <%= f.radio_button :category, 'Team' %> Team Event<br />			
	<%= f.radio_button :category, 'Individual' %> Individual Event
		</div>
	</div>
	
	<div class="form-group">
		<%= f.label :venue, class: "col-sm-2 control-label" %>
		<div class="col-sm-3">
			<%= f.text_field :venue, class: "form-control", placeholder: "Event Venue" %>
		</div>
	</div>

	<div class="form-group">
		<%= f.label :city, class: "col-sm-2 control-label" %>
		<div class="col-sm-3">
			<%= f.text_field :city, class: "form-control", placeholder: "City" %>
		</div>
	</div>

	<div class="form-group">
		<%= f.label :province, class: "col-sm-2 control-label" %>
		<div class="col-sm-4">
			<%= f.text_field :province, class: "form-control", placeholder: "Province" %>
		</div>
	</div>

	<div class="form-group">
		<%= f.label :price, class: "col-sm-2 control-label" %>
		<div class="col-sm-4">
			<%= f.text_field :price, class: "form-control", placeholder: "Price (HTM) - If Needed" %>
		</div>
	</div>

	<div class="form-group">
		<%= f.label :start_date, class: "col-sm-2 control-label" %>
		<div class="col-sm-4">
			<%= f.text_field :startdate, class: "form-control picker", :data => { :provide => 'datepicker' } %>
		</div>
	</div>

	<div class="form-group">
		<%= f.label :finish_date, class: "col-sm-2 control-label" %>
		<div class="col-sm-4">
			<%= f.text_field :finishdate, class: "form-control picker", :data => { :provide => 'datepicker' } %>
		</div>
	</div>

	<div class="form-group">
		<%= f.label :image, class: "col-sm-2 control-label" %>
		<div class="col-sm-5">
			<%= f.file_field :image, class: "form-control" %>
		</div>
	</div>

	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-8">
		  <%= f.submit "Submit", class: "btn btn-default" %>
		</div>
	</div>
<% end %>