<% provide(:title, "Events List") %>
<% if @events.present? %>
<div class="pull-left"><h2>Daftar Event</h2></div>
<div class="pull-right"><%= link_to (fa_icon "plus-circle", text: "Add New Event"), new_event_path, class: "btn btn-sm btn-default" %></div>

<table class="table table-hover">
  <thead>
    <tr class="active">
      <th>
        No
      </th>
      <th>
        Name
      </th>
      <th>
        City
      </th>
      <th>
        Category
      </th>
      <th>
        Actions
      </th>
    </tr>

  </thead>
  <tbody>



    <% @events.each_with_index do |a, index| %>
    <tr>
      <td class="athletes no-<%= a.id %> col-md-1"><%= @events.offset + index + 1 %></td>
      <td class="name col-md-4"><%= a.name %></td>
      <td class="city col-md-3"><%= a.city %></td>
      <td class="edit col-md-2">
        <%= link_to (fa_icon "pencil"), edit_event_path(a.id), class: "btn btn-sm btn-warning" %>
        <%= link_to (fa_icon "eye"), event_path(a.id), class: "btn btn-sm btn-default" %>
        <%= link_to (fa_icon "trash"), event_path(a), method: :delete, data: { confirm: "Apakah anda ingin menghapus ?" }, class: "btn btn-sm btn-danger"  %>
      </td>
    </tr>
    <% end %>

  </tbody>
</table>
<% else %>
<div class="alert alert-warning"> There are no events. <%= link_to "Create One Now.", new_event_path, class: "btn btn-sm btn-default" %> </div>
<% end %>
<%= will_paginate @articles %>
