<% provide(:title, "Events List") %>
<% if @events.present? %>
<div class="pull-right"><%= link_to (fa_icon "plus-circle", text: "Add New Event"), new_event_path, class: "btn btn-sm btn-default" %></div>
<div class="page-header">
<h1>Events list</h1>
</div>

<% @events.each_with_index do |a, index| %>
		<h3><%= a.name %></h3>
	    <p><%= strip_tags(a.description) %></p>
	    <p>at <i class="fa fa-calendar"></i> <strong><%= a.finishdate.strftime('%d %B %Y') %></strong></p>
	<span class="pull-right">
		<%= link_to "Lihat", event_path(a.id), class: "btn btn-sm btn-default" %>
		<%= link_to "Hapus", event_path(a.id), method: :delete, data: { confirm: "Apakah anda ingin menghapus Event ini?", ok: "Oke", cancel: "Batalkan" }, class: "btn btn-sm btn-danger"  %>
	</span>
	<hr>
<% end %>

<% else %>
<div class="alert alert-warning"> There are no events. <%= link_to "Create One Now.", new_event_path, class: "btn btn-sm btn-default" %> </div>
<% end %>
<%= will_paginate @articles %>
