<% provide(:title, @event.name) %>
<ol class="breadcrumb">
	<%= render_breadcrumbs :tag => :li, :separator => "" %>
</ol>

<div class="page-header">
	<h1><%= @event.name %></h1>
	<div class="pull-left"><%= link_to (fa_icon "plus-eye", text: "Show Standings"), standing_path(@event.id), class: "btn btn-sm btn-danger" %></div>
	<% if @event.category == "Individual" %>
		<div class="pull-right"><%= link_to (fa_icon "plus-circle", text: "Add / Edit Participants"), ae_path(@event.id), class: "btn btn-sm btn-default" %></div>
	<% else %>
		<div class="pull-right"><%= link_to (fa_icon "plus-circle", text: "Add / Edit Participants"), at_path(@event.id), class: "btn btn-sm btn-default" %></div>
	<% end %>

</div>
<br>
<table class="table table-hover">
  <thead>
  <tr class="info">
  <th>
  		No
  	</th>
  	<th>
  		Name
  	</th>
  	<th>
  		City
  	</th>
  	<th>
  		Position
  	</th>
  	<th>
  		Point
  	</th>
  </tr>

  </thead>
  <tbody>



	<% @fetch.each_with_index do |a, index| %>
	<% if @event.category == "Individual" %>
	<tr>
	<td class="athletes no-<%= a.id %> col-md-1"><%= index + 1 %></td>
	<td class="name col-md-5"><%= a.athlete.name %></td>
	<td class="city col-md-3"><%= a.athlete.city %></td>
	<td class="edit col-md-2"><%= a.position %></td>
	<td class="edit col-md-2"><%= a.point %></td>
	</tr>
	<% else %>
	<tr>
	<td class="teams no-<%= a.id %> col-md-1"><%= index %></td>
	<td class="name col-md-5"><%= a.team.name %></td>
	<td class="city col-md-3"><%= a.team.city %></td>
	<td class="edit col-md-2"><%= a.position %></td>
	<td class="edit col-md-2"><%= a.point %></td>
	</tr>
	<% end %>
	<% end %>

  </tbody>
</table>

<div class="row info">
		<div class="name col-md-12">
		<p class="text-right text-muted pull-left">ICF 2016</p>
		<p class="text-right text-muted pull-right"><i class="fa fa-calendar"></i> <strong><%= @event.startdate.strftime('%d %B %Y') %></strong> - <strong><%= @event.finishdate.strftime('%d %B %Y') %></strong></p>
		</div>
</div>

<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".share-modal-lg"><i class="fa fa-share-alt"></i> Embed This Results</button>

<div class="modal fade share-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <input type="text" class="form-control" value="<%= shareresults_url(@event.id) %>">
      <p class="text-muted text-center">Copy this code into site post</p>
    </div>
  </div>
</div>