<% provide(:title, @event.name) %>
<ol class="breadcrumb">
	<%= render_breadcrumbs :tag => :li, :separator => "" %>
</ol>

<div class="page-header">
	<h1><%= @event.name %></h1>
	<div class="pull-left"><%= link_to (fa_icon "plus-eye", text: "Show Results"), event_path(@event.id), class: "btn btn-sm btn-danger" %></div>
	<% if @event.category == "Individual" %>
		<div class="pull-right"><%= link_to (fa_icon "plus-circle", text: "Add / Edit Participants"), ae_path(@event.id), class: "btn btn-sm btn-default" %></div>
	<% else %>
		<div class="pull-right"><%= link_to (fa_icon "plus-circle", text: "Add / Edit Participants"), at_path(@event.id), class: "btn btn-sm btn-default" %></div>
	<% end %>

</div>
<br>
	<ul class="list-group">
	<li class="list-group-item disabled">
	<div class="row">
			<div class="name col-md-12"><p class="text-center"><%= @event.name %> - Standings</p></div>
	</div>
	</li>
	<li class="list-group-item active">
	<div class="row">
			<div class="name col-md-8">Name</div>
			<div class="city col-md-4">City</div>
	</div>
	</li>
	<% @fetch.each_with_index do |a, index| %>
	
	<li class="list-group-item">
	<div class="row">
		<% if @event.category == "Individual" %>
			<div class="name col-md-8"><%= a.athlete.name %></div>
			<div class="city col-md-4"><%= a.athlete.city %></div>
		<% else %>
			<div class="name col-md-8"><%= a.team.name %></div>
			<div class="city col-md-4"><%= a.team.city %></div>
		<% end %>
	</div>
	</li>
	<% end %>
	<li class="list-group-item disabled">
	<div class="row">
			<div class="name col-md-12">
			<p class="text-right pull-left">ICF 2016</p>
			<p class="text-right pull-right"><i class="fa fa-calendar"></i> <strong><%= @event.startdate.strftime('%d %B %Y') %></strong> - <strong><%= @event.finishdate.strftime('%d %B %Y') %></strong></p>
			</div>
	</div>
	</li>
	</ul>
